.navbar{
    display: flex;
    width: 100%;
    color: white;
    padding: 1.5rem 9.5rem;
    align-items: center;
    font-size: 1.6rem;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    &.blacked{
        background-color: black;
    }
    .logo{
        width: 18.6rem;
        height: 5rem;
    }
    .searchBox{
        width: 50%;
        display: flex;
        border: 2px solid white;
        border-radius: 3px;
        align-items: center;
        padding: .6rem 1rem;
        input{
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 1.6rem;
            width: 100%;
            color: white;
            &::placeholder{
                color: white;
            }
        }
    }
    .options{
        display: flex;
        gap: 2.7rem;
        align-items: center;
    }
    .hamburger{
        &.mobile{
            display: none;
        }
        height: 3.2rem;
        width: 3.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #BE123C;
        width: fit-content;
        border-radius: 50%;
        padding:1.2rem .8rem;
        cursor: pointer;
        span{
            display: block;
            width: 1.6rem;
            height: 1.6px;
            background-color: white;
            transition: all 200ms ease-in-out;
        }
        &.cancel{
            justify-content: center;
            span{
                transform: rotate(45deg);
                &:last-child{
                    transform: rotate(-45deg);
                    margin-top: -1.4px;
                }
            }
        }
    }
}
@media screen and (max-width:850px) {
    .navbar{
        display: block;
        padding: 1.5rem 2rem;
        position: relative;
        .mobile-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .searchBox{
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 4rem;
            margin-top: 1rem;
        }
        .hamburger{
            &.desktop{
                display: none;
            }
            &.mobile{
                display: flex;
            }
        }
        .sign-in{
            display: none;
        }
    }
}